<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show Reminder</title>
  </head>
  <body>
    <h1>Show Reminder</h1>
    <ul>
      <% for (let i = 0; i < reminders.length; i++) { %>
      <li>Name: <%=reminders[i].name%></li>
      <li>Active: <%=reminders[i].active%></li>
      <li>Attendee Group: <%=reminders[i].attendeeGroup%></li>
      <li>Message: <%=reminders[i].message%></li>
      <% } %>
    </ul>
    <a href="/wedding/reminders/edit/<%=reminders._id%>"
      ><button>Edit</button></a
    >
    <form
      action="/wedding/reminders/<%=reminders._id%>?_method=DELETE"
      method="POST"
    >
      <input type="submit" name="delete" id="delete" value="Delete" />
    </form>
    <br />
    <a href="/wedding/reminders/">Back</a>
  </body>
</html>
