<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit Attendee</title>
  </head>
  <body>
    <h1>Edit Attendee</h1>
    <form
      action="/wedding/attendees/edit/<%=attendee._id%>?_method=PUT"
      method="POST"
    >
      <ul>
        <li>
          First Name:
          <input type="text" name="firstName" value="<%=attendee.firstName%>" />
          Last Name:
          <input type="text" name="lastName" value="<%=attendee.lastName%>" />
        </li>
        <li>
          Email: <input type="email" name="email" value="<%=attendee.email%>" />
        </li>
        <li>
          Mobile:
          <input type="number" name="mobile" value="<%=attendee.mobile%>" />
        </li>
        <li>
          Attendance: <% if (attendee.attendance) { %>
          <input type="checkbox" name="attendance" checked />
          <% } else { %>
          <input type="checkbox" name="attendance" />
          <% } %>
        </li>
        <li>
          Group:
          <select name="group" id="group" size="1">
            <!-- have to convert attendee.group and groups[i]._id objects into strings first as objects are not equal to each other -->
            <% for (let i = 0; i < groups.length; i ++) { %> <% if
            (JSON.stringify(attendee.group) === JSON.stringify(groups[i]._id)) {
            %>
            <option value="<%=groups[i]._id%>" selected
              ><%=groups[i].name%></option
            >
            <% } else { %>
            <option value="<%=groups[i]._id%>"><%=groups[i].name%></option>
            <% } %> <% } %>
          </select>
        </li>
      </ul>
      <input type="submit" name="submit" value="Update" />
    </form>
    <br />
    <br />
    <a href="/wedding/attendees/<%=attendee._id%>">Back</a>
  </body>
</html>
