<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show Attendee</title>
  </head>
  <body>
    <h1>Show Attendee</h1>
    <ul>
      <li>Name: <%=attendee.firstName%> <%=attendee.lastName%></li>
      <li>Email: <%=attendee.email%></li>
      <li>Mobile: <%=attendee.mobile%></li>
      <li>
        Attendance: <% if (attendee.attendance) { %> Yes <% } else { %> No <% }
        %>
      </li>
      <li>
        Group: <% if (group.name === 'Assign a new group') { %>
        <a href="/wedding/attendees/edit/<%=attendee._id%>">Assign a group</a>
        <% } else { %> <%=group.name%> <% } %>
      </li>
    </ul>
    <a href="/wedding/attendees/edit/<%=attendee._id%>"
      ><button>Edit</button></a
    >
    <br />
    <form
      action="/wedding/attendees/<%=attendee._id%>?_method=DELETE"
      method="POST"
    >
      <input type="submit" name="delete" id="delete" value="Delete" />
    </form>
    <br />
    <a href="/wedding/attendees">Back</a>
  </body>
</html>
